/.timetracker
node_modules
*.log
*.pyc
*.swp
*.swo
*.tmp

dist
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
/firebase-react-auth/.timetracker